.button-effective-solutions {
color: white;
background-color: var(--background-button-color);
cursor: pointer;
font-family: var(--main-font);
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 2;
border: none;
width: 240px;
height: 31px;
padding: 10 32px;
width: 261px;
height: 50px;
border-radius: 4px;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),     
background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover{ 
border: 1px solid #0f4979;
}
}

.send-button {
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
border-radius: 4px;
display: block;
margin: auto;
cursor: pointer;
color: var(--brand-color);
width: 200px;
height: 50px;
border-color: var(--brand-color);
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #ffffff;
background-color: var(--brand-color);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
&:hover {
    border: 1px solid var(--brand-color);
    cursor: pointer;
}
}

.close-button{
width: 25px;
height: 25px; 
position: relative;
left: 242px;
top: 8px;
background-color: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
&:hover{
position: relative;
left: 242px;
top: 8px;
background-color: #FFFFFF;
border: 1px solid var(--brand-color);
border-radius: 50%;
width: 25px;
height: 25px;
cursor: pointer;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2)
}
}

.buttons-filters {
font-family: var(--main-font);
border: none;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 2;
background-color: #f5f4fa;
cursor: pointer;
border-radius: 4px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover{
color: var(--button-color);
background-color: var(--background-button-color);
cursor: pointer;
font-family: var(--main-font);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 2;
border: none;
border-radius: 4px;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 
0px 2px 2px rgba(0, 0, 0, 0.12)
}
}

.footer-form-button{
display: flex;
width: 200px;
height: 50px;
margin-top: 20px;
margin-left: 11.6px;
background-color: var(--brand-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
color: #FFFFFF;
align-items: center;
padding-left: 39px;
}

.filter-card-bottom {
border: 1px solid #eeeeee;
padding: 20px 24px;
width: 370px;
height: 110px;
}

.current-button {
background-color: var(--brand-color);
color: white;
}

.x-button{
width: 11px;
height: 11px;
position: relative;
bottom: 24px;
}

.filter-button-container {
display: flex;
justify-content: center;
padding: 6 24px;
gap: 8px;
border-radius: 4px;
padding: 6px 24px;
}